* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cards-container {
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 1em;
}

.product {
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: .5em;
  background: #E5E5E5;
  line-height: 2;
  width: 250px;
}

.img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.description {
  font-size: 1rem;
}

.product-quantity {
  display: flex;
  gap: 3em;
  align-items: center;
}

.img-container {
  height: 320px;
}
