* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cards-container {
  padding-inline: 1em;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em; 
  width: 100%;
  align-items: start; 
}

.product {
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: .5em;
  background: #E5E5E5;
  line-height: 2;
  max-width: 250px;
}

.product-title::first-letter, .product-description::first-letter {
  text-transform: uppercase;
}

.img {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.description {
  font-size: 1rem;
}

.product-quantity {
  display: flex;
  gap: 3em;
  align-items: center;
}

.img-container {
  height: 320px;
}

img {
  max-height: 210px;
}

article {
  text-align: start;
}

@media (min-width: 699px) {
  #cards-container {
    padding-inline: 1em;
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em; 
    width: 100%;
    align-items: start; 
  }

  img {
    max-height: 210px;
  }
}